{% extends "base.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'netflix/all-movies.css' %}">
    <link rel="stylesheet" href="{% static 'netflix/includes/one-movie.css' %}">
{% endblock css_files %}

{% block title %}Vsechny filmy | Netflix{% endblock title %}

{% block content %}
    <main>
        <section class="all-movies">
            {% for one_movie in all_movies_list %}
                {% include "netflix/includes/one-movie.html" %}
            {% endfor %}
        </section>
    </main>
{% endblock content %}