{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'movies/index.css' %}">
{% endblock styles %}

{% block title %}Vsychny filmy{% endblock title %}

{% block content %}
    <section class="movies">
        <ul>
            {% for one_movie in all_movies %}
                <li>{{ one_movie.title }} - 
                    {% if one_movie.is_for_adults %}
                        jen pro dospělé
                    {% else %}
                        pro všechny
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}